.form {
  display: flex;
  flex-direction: column;
  padding: $s-size $m-size;
  min-width: 24rem;
  max-width: 28rem;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 28rem;
}

.input-group {
  display: flex;
  flex-direction: column-reverse;
}

// Shared Input Styles
.text-input,
.number-input,
.select-input,
.text-area {
  height: 5.6rem;
  background: #ffffffd6;
  border: none;
  border-bottom: 2px solid $brand-dusk-shade-O24;
  transition: all 0.3s ease-in-out;
  font-size: 1.6rem;
  margin-top: -1.6rem;
  padding: 1.6rem 1.2rem 0;
  line-height: 2rem;
  max-width: 28rem;
}

.text-area {
  margin-top: 0;
  max-width: 56rem;
  height: 8rem;
  border: 2px solid $brand-dusk-shade-O24;
  font-family: "Roboto", sans-serif;
  padding: 1.6rem 1.2rem;
  line-height: $leading-relaxed;
}

.select-input {
  -webkit-appearance: none;
  box-sizing: border-box;
  border-radius: 0;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23000000"/></svg>');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 70%, 0 0;
  background-size: 0.65em auto, 100%;
  // background-color: #fff;
}

.text-input:focus,
.number-input:focus,
.select-input:focus,
.text-area:focus {
  border-bottom: 2px solid $brand-dusk-shade;
  outline: none;
}

.label {
  font-size: 1.2rem;
  font-weight: 400;
  color: $brand-dusk--faded;
  padding-left: 1.2rem;
}

input:focus + .label,
select:focus + .label {
  color: $brand-dusk;
}

.input__helper-text,
.input__error {
  margin-bottom: $l-size;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0.4rem 1.2rem 0;
  min-height: 2rem;
}

.input__helper-text {
  font-weight: 400;
  color: $brand-dusk--faded;
}

.input__error {
  color: $brand-red;
}

.input--error {
  border-bottom: 2px solid $brand-red;
}

input:disabled {
  opacity: 0.4;
  pointer-events: none;
}
