.card-select {
  display: flex;
  justify-content: center;
}

.card-select__card {
  position: absolute;
  list-style: none;
  width: 29rem;
  height: 34.4rem;
  background: #fff;
  box-shadow: $depth-4;
  &:hover {
    box-shadow: $depth-5;
  }
  border-radius: 8px;
  text-align: center;
  transition: $default-transition;
}

.card-select__card--before,
.card-select__card--after {
  @extend .card-select__card;
  transform: scale(0.7);
  box-shadow: $depth-2;
  &:hover {
    box-shadow: $depth-3;
  }
}

.card-select__card--hidden {
  @extend .card-select__card;
  pointer-events: none;
}
