.race-select__race {
  padding-bottom: $m-size;
  p {
    max-width: 70%;
  }
}
.class-select__class {
  padding-bottom: $m-size;
  span {
    font-weight: 700;
  }
}

.score-abilities__form {
  button {
    margin-top: $m-size;
  }
}
.score-abilities__form-row {
  display: flex;
  align-items: center;
  padding: 0 0 0 $xs-size;
  height: $l-size;
  select {
    margin-left: $s-size;
  }
  &:nth-child(odd) {
    background: $light-gray--O32;
  }
}

.perk-select__radio-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: $m-size;
}

.character-generator__form-wrapper {
  display: flex;
  // justify-content: center;
}
.character-generator__form {
  width: 64%;
  background: #ffffffd6;
  box-shadow: $depth-1;
  padding: $xs-size $l-size $xl-size;
}
