.race-select__race {
  padding-bottom: $m-size;
  p {
    text-align: left;
    margin: 0 0 $m-size;
    line-height: $leading-normal;
  }
  ul {
    text-align: left;
    margin: $xs-size 0 $s-size;
  }
}
.race-select__radio-button {
  display: flex;
  align-items: center;
  h3 {
    margin: 0 $xs-size;
  }
  margin: 0 0 $s-size;
}
.class-select__class {
  padding-bottom: $m-size;
  span {
    font-weight: 700;
  }
}

.score-abilities__form {
  button {
    margin-top: $l-size;
  }
}
.score-abilities__form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $xs-size;
  height: $xl-size;
  &:nth-child(odd) {
    background: $light-gray--O32;
  }
}

.perk-select__radio-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: $m-size;
}

.character-generator__form-wrapper {
  display: flex;
}
.character-generator__form {
  width: 64%;
  background: #ffffffd6;
  box-shadow: $depth-1;
  padding: $xs-size $l-size $xl-size;
}
