.ReactModal__Overlay {
  z-index: $z-top;
}
.ReactModal__Overlay,
.ReactModal__Content {
  opacity: 0;
  transition: $default-transition;
}

.ReactModal__Overlay--after-open,
.ReactModal__Content--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close,
.ReactModal__Content--before-close {
  opacity: 0;
}

.ReactModal__Content {
  box-shadow: $depth-5;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modal__header,
.modal__body,
.modal__actions {
  padding: 0 $m-size;
}

.modal__header {
  padding: $m-size;
  border-bottom: 1px solid $medium-gray;
  h1 {
    margin: 0;
    font-size: 2.4rem;
  }
}

.modal__body {
  flex-grow: 1;
}

.modal__actions {
  display: flex;
  background: $light-gray--O32;
  border-top: 1px solid $medium-gray;
  justify-content: flex-end;
  align-items: center;
  padding: $m-size;
  button {
    margin: 0;
  }
}
